{% setcontent current_events = 'events/latest/5'%}
<ul class="unstyled">
    {% for event in current_events %}
        <li><h4><a href="{{event.link()}}">{{event.title}}</a></h4>
                <h5>{{event.event_start|date('l F j, Y')}}{% if event.event_end and event.event_end != event.event_start %}&mdash;{{event.event_end|date('l F j, Y')}}{% endif %}</h5>
                <p>{{event.location}}</p>
                <p>{{event.details}}</p></li>
    {% endfor %}
</ul>