{% setcontent current_events = 'events/latest/5'%}
<ul class="unstyled">
    {% for event in current_events %}
        <li><a href="{{event.link()}}">{{event.title}}</a>
            <p><small>{{event.event_start|date('l F j, Y')}}{% if event.event_end and event.event_end != event.event_start %}&mdash;{{event.event_end|date('l F j, Y')}}{% endif %}</small></p>
            <p><small>Where:</small>{{event.location}}</p>
                <p>{{event.details}}</p></li>
    {% endfor %}
</ul>