{% setcontent current_events = 'events/latest/5'%}
<div class="carousel" id="carousel-events">
    <ul class="unstyled carousel-inner">
    {% for event in current_events %}
        <li class="item{% if loop.first %} active {% endif %}">
            <h4><a href="{{event.link()}}">{{event.title}}</a></h4>
            <p>{{event.event_start|date('l F j, Y')}}{% if event.event_end != '0000-00-00 00:00:00' and event.event_end != event.event_start %}&mdash;{{event.event_end|date('l F j, Y')}}{% endif %}</p>
            <p>{{event.location}}</p>
                <p>{{event.details}}</p></li>
    {% endfor %}
    </ul>
</div>