{% setcontent offices = 'locations' where {show_in_footer:'Yes'} orderby '-id' %}
{% for office in offices %}
<address>
<strong>{% if office.alternate_name != '' %}{{office.alternate_name}}{% else %}{{office.english_name}}{% endif %}</strong><br />
{{office.address}}<br />
{{office.city}}, Ontario {{office.postal_code}}<br />
{{office.phone_number}}
</address>
{% endfor %}
<p>Need your <a href="/contact">local office?</a></p>