{% setcontent programslist = 'pages' where {sections: 'programs'} %}
{% setcontent aboutlist = 'pages' where {sections: 'about'} %}
<ul class="unstyled">
    <h3 class="vig">Our Programs &amp; Services</h3>
    {% for pageitem in programslist %}
        <li {% if paths.current == '/{{pageitem.slug}}' %}class="active"{% endif %}><a href="/{{pageitem.slug}}">{{pageitem.title}}</a></li>
    {% endfor %}
</ul>
<ul class="unstyled">
    <h3 class="vig">About Us</h3>
    {% for pageitem in aboutlist %}
        <li {% if paths.current == '/{{pageitem.slug}}' %}class="active"{% endif %}><a href="/{{pageitem.slug}}">{{pageitem.title}}</a></li>
    {% endfor %}
</ul>