{% setcontent programslist = 'pages' where {sections: 'programs'} %}
{% setcontent aboutlist = 'pages' where {sections: 'about'} %}
{% setcontent otherlist = 'pages' where {sections: 'other'} %}
<ul class="unstyled">
    <h3 class="vig">Our Programs &amp; Services</h3>
    {% for pageitem in programslist %}
        <li {% if pageitem|current %}class="active"{% endif %}><a href="{{pageitem.link()}}">{{pageitem.title}}</a></li>
    {% endfor %}
</ul>
<ul class="unstyled">
    <h3 class="vig">About Us</h3>
    {% for pageitem in aboutlist %}
        <li {% if pageitem|current %}class="active"{% endif %}><a href="{{pageitem.link()}}">{{pageitem.title}}</a></li>
    {% endfor %}
</ul>
<ul class="unstyled">
    <h3 class="vig">What&rsquo;s Going on in Treaty 3</h3>
    {% for pageitem in otherlist %}
        <li {% if pageitem|current %}class="active"{% endif %}><a href="{{pageitem.link()}}">{{pageitem.title}}</a></li>
    {% endfor %}
</ul>