{% setcontent latestpromos = 'promos/latest/5' %}
{{print(latestpromos)}}
<div class="carousel" id="myCarousel">
    <div class="carousel-inner">
    {% for promo in latestpromos %}
        <a href="{{pages.link({{promo.relation.pages[0]}})}}">
            <div class="item{% if loop.first %} active{% endif %}">
                {% if promo.image %}
                <img src="{{paths.files}}/{{promo.image}}" />
                {% else %}
                <h2>{{promo.title}}</h2>
                <p>{{promo.description}}</p>
                <button>{{promo.page}}</button>
                {% endif %}
            </div>
        </a>
    {% endfor %}
    </div>
</div>