{% setcontent latestpromos = 'promos/latest/5' %}
<div class="carousel" id="myCarousel">
    <div class="carousel-inner">
    {% for promo in latestpromos %}
            <div class="item{% if loop.first %} active{% endif %}">
                {% set relations = promo.related() %}
                {% if relations is not empty and promo.weblink is empty %}
                    {% for relation in relations %}
                        <a href="{{relation.link()}}">
                    {% endfor %}
                {% else %}
                        <a href="{{promo.weblink}}">
                {% endif %}
                {% if promo.image %}
                <img src="{{paths.files}}/{{promo.image}}" />
                {% else %}
                <h2>{{promo.title}}</h2>
                <p>{{promo.description}}</p>
                <button>{{promo.page}}</button>
                {% endif %}
                {% if relations is not empty %}
                    </a>
                {% endif %}
            </div>
    {% endfor %}
    </div>
</div>