{% setcontent jobs = 'careers' %}
{% block contenttitle %}Current Job Openings{% endblock %}
{% extends "_base.twig" %}
{% block main %}
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Term</th>
            <th>Closing Date</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td><a href="{{job.link()}}">{{job.title}}</td>
            <td>{{job.location}}</td>
            <td>{{job.term}}</td>
            <td>{% if job.datedepublish != "1900-01-01 00:00:00" %}{{job.datedepublish|date("M d, Y")}}{% else %}Open{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
