{% setcontent jobs = 'careers' %}
{% extends "_base.twig" %}
{% block main %}
{{record.body}}
{% if jobs|length > 0}
<h3>Current Opportunities</h3>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Term</th>
            <th>Closing Date</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td><a href="{{job.link()}}">{{job.title}}</td>
            <td>{{job.location}}</td>
            <td>{{job.term}}</td>
            <td>{% if job.datedepublish != "1900-01-01 00:00:00" %}{{job.datedepublish|date("M d, Y")}}{% else %}Open{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h3>No opportunities are currently available. Please check back often.</h3>
{% endif %}
{% endblock %}
