{% block contenttitle %}Current Job Openings{% endblock %}
{% extends "_base.twig" %}
{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Term</th>
            <th>Closing Date</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td><a href="/career/{{record.slug}}">{{record.title}}</td>
            <td>{{record.location}}</td>
            <td>{{record.term}}</td>
            <td>{% if record.datedepublish %}{{record.datedepublish|date("M d, Y")}}{% else %}Open{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
