{% extends "_base.twig" %}
{% block main %}
{% setcontent offices = 'locations' %}
<div class="span9">
    <div class="contact-help-notice">
        <h3>Need Help? <span class="toll-free">1-888-420-9990</span> 24 Hours</h3>
    </div>
</div>
{% for office in offices %}
    <div class="row">
        <div class="office">
            <div class="span9"><h4 class="vig">{{office.english_name}}</small></h4></div>
            <div class="span5">
                <address>
                    <p class="street">{{office.address}}<br />
                    {% if office.mailing %}<p class="mailing">{{office.address2}}<br />{% endif %}
                    <p class="city">{{office.city}}<br />
                    <p class="postal">{{office.postal_code}}<br />
                </address>
            </div>
            <div class="span4">
                <div class="contacts">
                    <p class="phone">{{office.phone_number}}</p>
                    <p class="fax">{{office.fax_number}}</p>
                    <p class="email">{{office.email}}</p>
                </div>
                <div class="hours">
                    <p>{{office.hours}}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}