{% extends "_base.twig" %}
{% block contenttitle %}Events{% endblock %}
{% block main %}
{% for record in records %}
    <h3><a href="{{record.link()}}">{{record.title}}</a></h3>
    <h4>{{record.datepublish|date('F j, Y')}} {% for cat in record.taxonomy.categories %}<span class="label">{{cat}}</span> {% endfor %} <small>&mdash; {{record.location}}</small></h4>
    {% if record.teaser %}
        {{record.teaser}}
    {% elseif record.introduction %}
        {{record.introduction}}
    {% endif %}
{% endfor %}
{% endblock %}