{% extends "_base.twig" %}
{% block main %}
<h4>Event Information</h4>
<h5>When</h5>
<p>{{event.event_start|date('l F j, Y')}}{% if event.event_end != '0000-00-00 00:00:00' and event.event_end != event.event_start %} &mdash; {{event.event_end|date('l F j, Y')}}{% endif %}</p>
<h5>Where</h5>
<p>{{event.location}}</p>
<h5>What</h5>
<p>{{event.details}}</p>
<h5>Other Details</h5>
{% if event.organizer %}
<h6>Event Organizer</h6>
<p>{{event.organizer}}</p>
{% endif %}
{% if event.contact_name %}
<h6>Event Contact</h6>
<p>{{event.contact_name}}</p>
{% endif %}
{% if event.contact_number %}
<p>{{event.contact_number}}</p>
{% endif %}
{% if event.contact_email %}
<p>{{event.contact_email}}</p>
{% endif %}
{% if event.registration == 'Yes' %}
<p>Registration is required for this event.  The registration deadline is {{event.register_by|date('l F j, Y')}}</p>
{% endif %}
{% endblock %}