{% extends "_base.twig" %}
{% block main %}
<div class="row">
    <div class="span5">
        <h5>When</h5>
        {% if event.is_recurring == 'Yes' %}
        <p>{{event.recurring_date}}</p>
        {% else %}
        <p>{{event.event_start|date('l F j, Y')}}{% if event.event_end != '0000-00-00 00:00:00' and event.event_end != event.event_start %} &mdash; {{event.event_end|date('l F j, Y')}}{% endif %}</p>
        {% endif %}
        <h5>Location</h5>
        <p>{{event.location}}</p>
        <h5>Details</h5>
        <p>{{event.details}}</p>
    </div>
    <div class="span4">
        {% if event.organizer is not empty or event.contact_name is not empty or event.contact_number is not empty or event.contact_email is not empty %}
        <h5>Other Details</h5>
        {% endif %}
        {% if event.organizer is not empty %}
        <h6>Event Organizer</h6>
        <p>{{event.organizer}}</p>
        {% endif %}
        {% if event.contact_name is not empty %}
        <h6>Event Contact</h6>
        <p>{{event.contact_name is not empty}}</p>
        {% endif %}
        {% if event.contact_number is not empty %}
        <p>{{event.contact_number}}</p>
        {% endif %}
        {% if event.contact_email is not empty %}
        <p>{{event.contact_email}}</p>
        {% endif %}
        {% if event.registration == 'Yes' %}
        <p>Registration is required for this event.  The registration deadline is {{event.register_by|date('l F j, Y')}}</p>
        {% endif %}
    </div>
</div>
{% endblock %}