{% extends '_base.twig' %}
{% block contenttitle %}Our People{% endblock %}
{% block main %}
<img src="{{record.image|image}}" class="pull-right img-spacing" />
{{record.body}}
{% setcontent directors = 'people' where {is_director: 'Yes'} orderby 'id' %}
{% setcontent committee = 'people' where {is_committee: 'Yes'} orderby 'id' %}
{% setcontent staff = 'people' where {is_director: 'No', is_committee: 'No'} orderby 'id' %}

<legend>Our Board of Directors &mdash; Executive Committee</legend>
<table class="table table-condensed table-borderless">
{% for person in committee %}
<tr>
    <td>{{person.title}}</td><td>{{person.position}}</td><td>{{person.represents}}</td>
</tr>
{% endfor %}
</table>

<legend>Our Senior Directors</legend>
<table class="table table-condensed table-borderless">
{% for person in directors %}
<tr>
    <td>{{person.title}}</td><td>{{person.position}}</td>
</tr>
{% endfor %}
</table>

<legend>Our Management Team</legend>
<table class="table table-condensed table-borderless">
{% for person in staff %}
<tr>
    <td>{{person.title}}</td><td>{{person.position}}</td><td>{{person.represents}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}