{% extends '_base.twig' %}
{% block contenttitle %}Our People{% endblock %}
{% block main %}
{{record.body}}
{% setcontent directors = 'people' where {is_director: 'Yes'} orderby 'id' %}
{% setcontent committee = 'people' where {is_committee: 'Yes'} orderby 'id' %}
{% setcontent staff = 'people' where {is_director: 'No', is_committee: 'No'} orderby 'id' %}

<h4>Our Directors</h4>
<div class="people">
{% for person in peoples %}
<div class="media">
    <img src="http://placehold.it/96x96" alt="Picture of {{person.name}}" class="media-object pull-left">
    <div class="media-body">
        <h5 class="media-heading">{{person.name}} &mdash; <small>{{person.title}}</small></h5>
        {{person.bio}}
    </div>
</div>
{% endfor %}
</div>
<h4>Our Executive Committee</h4>
<div class="people">
{% for person in committee %}
<div class="media">
    <img src="http://placehold.it/96x96" alt="Picture of {{person.name}}" class="media-object pull-left">
    <div class="media-body">
        <h5 class="media-heading">{{person.name}} &mdash; <small>{{person.title}}</small></h5>
        {{person.bio}}
    </div>
</div>
{% endfor %}
</div>

{% endblock %}