{% extends '_base.twig' %}
{% block contenttitle %}Our People{% endblock %}
{% block main %}
{{record.body}}
{% setcontent directors = 'people' where {is_director: 'Yes'} orderby 'id' %}
{% setcontent committee = 'people' where {is_committee: 'Yes'} orderby 'id' %}
{% setcontent staff = 'people' where {is_director: 'No', is_committee: 'No'} orderby 'id' %}

<legend>Our Board of Directors &mdash; Executive Committee</legend>
<ul class="people unstyled">
{% for person in committee %}
<li>
    <div class="media-body">
        <h5 class="media-heading">{{person.name}} {% if person.title is not empty %} &mdash; <small>{{person.title}}</small>{% endif %}</h5>
        <h6>{{person.represents}}</h6>
        {{person.bio}}
    </div>
</li>
{% endfor %}
</ul>

<legend>Our Senior Directors</legend>
<ul class="people unstyled">
{% for person in directors %}
<li>
    <div class="media-body">
        <h5 class="media-heading">{{person.name}} {% if person.title is not empty %} &mdash; <small>{{person.title}}</small>{% endif %}</h5>
        {{person.bio}}
    </div>
</li>
{% endfor %}
</ul>

<legend>Our Management Team</legend>
<ul class="people unstyled">
{% for person in staff %}
<li>
    <div class="media-body">
        <h5 class="media-heading">{{person.name}} {% if person.title is not empty %} &mdash; <small>{{person.title}}</small>{% endif %}</h5>
        {{person.bio}}
    </div>
</li>
{% endfor %}
</ul>

{% endblock %}